.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #68Eacc 0%, #497BE8 100%);
}

/* Container for forgot password form */
.forgot-password-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    box-sizing: border-box;
}

/* Title */
#forgotPasswordTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Labels */
#forgotPasswordForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

/* Input Fields */
.forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Focus State for Input Fields */
.forgot-password-input:focus {
    border-color: var(--light-yellow);
    outline: none;
    box-shadow: 0px 0px 5px rgba(84, 157, 255, 0.5);
}

/* Submit Button */
#forgotPasswordSubmitBtn {
    width: 100%;
    padding: 10px;
    background-color: var(--light-yellow);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover State */
#forgotPasswordSubmitBtn:hover {
    background-color: #417fcc;
}

/* Success Message */
.forgot-password-success {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Error Messages */
.forgot-password-error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}