#products {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #333;
    width: 200px;
    height: 200px;
    position: relative;
}

.product img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product form,
.product div {
    position: absolute;
    background: #0009;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.product form {
    inset: 0 0 auto auto;
}

.product div {
    inset: auto 0 0 0;
}